<div id="start-screen">
	<div id="intro-0" class="intro"><%= t(:hello) %></div>
	<div id="intro-1" class="intro"><%= t(:i_am) %></div>
	<div id="logo" class="anim-svg">
		<%= render "logoAnim" %>
	</div>
	<div id="scr-continue">
		<%= t(:scroll_continue) %>
		<br>
		<%= image_tag("scrollArrow.svg") %>
	</div>
</div>

<div id="start-screen-extend">
</div>

<div id="navbar-main" role="navigation">
	<div id="menu-icon-container">
		<div id="menu-icon-bg">
		</div>
		<%= render "menuIcon" %>
	</div>
</div>

<%= render "aboutMe" %>
<%= render "curriculum" %>
<%= render "portfolio" %>