<!DOCTYPE html>
<html>
<head>
	<title><%= t(:site_title) %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag "favicon.png", type: "image/png" %>
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0"/>

	<!-- for iOS -->
	<%= favicon_link_tag "favicon.png", rel: "apple-touch-icon", type: "image/png" %>
	<%= favicon_link_tag "favicon.png", rel: "apple-touch-icon-precomposed", type: "image/png" %>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<!-- for Android -->
	<%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
	<meta name="mobile-web-app-capable" content="yes">

	<!-- for Google -->
	<meta name="description" content="<%= t(:site_description) %>" />
	<meta name="keywords" content="Personal website, Heda Weng, Design" />
	<meta name="author" content="Heda Weng" />
	<meta name="copyright" content="Heda Weng" />
	<meta name="application-name" content="Heda Weng" />
	
	<!-- for Facebook -->  
	<meta property="og:site_name" content="hedaweng.com" />        
	<meta property="og:title" content="<%= t(:site_title) %>" />
	<meta property="og:description" content="<%= t(:site_description) %>" />
	<meta property="og:image" content="<%= image_url 'favicon.png' %>" />
	<meta property="og:url" content="http://hedaweng.com" />
	
	<!-- for Twitter -->          
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="<%= t(:site_title) %>" />
	<meta name="twitter:description" content="<%= t(:site_description) %>" />
	<meta name="twitter:image" content="<%= image_url 'favicon.png' %>" />
	<meta name="twitter:url" content="http://hedaweng.com" />
	
</head>
<body>

<%= yield %>

</body>
</html>
